{
    "extends": "@scoop/eslint-config-scoop",
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "env": {
        "browser": false,
        "node": false,
        "shared-node-browser": true
    },
    "globals": {
        "require": true,
        "module": true,
        "Buffer": true,
    },
    "rules": {
        "no-implicit-globals": "off"
    }
}
